.main {
  min-height: 200vh;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.info {
  width: 20vw;
  margin-left: 1vw;
}

.button-container {
  width: 80vw;
  font-size: 20px;
  padding-top: 25px;
}

.button-container li {
  margin-right: 2vw;
  list-style: none;
}
